Project : Twitter Sentiment Analysis

In [3]:
import tweepy 
from textblob import TextBlob 
# from wordcloud import WordCloud 
import pandas as pd 
import numpy as np
import re 
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

Twiiter API

In [4]:
import tweepy
import configparser
import pandas as pd
config = configparser.ConfigParser()

config.read('config.ini')
api_key = config['tweets']['api_key']
api_key_secret = config['tweets']['api_key_secret']

access_token = config['tweets']['access_token']
access_token_secret = config['tweets']['access_token_secret']

API Authentication

In [5]:
auth = tweepy.OAuthHandler(api_key,api_key_secret)
auth.set_access_token(access_token,access_token_secret)

api = tweepy.API(auth)

public_tweets = api.home_timeline()

# print(public_tweets[0].created_at)
print(public_tweets[0].user.screen_name)

RCBTweets

Extract Tweets From Twitter

In [6]:
posts = api.user_timeline(screen_name="BillGates", count=100, lang = "en" , tweet_mode = "extended")

#printing 5 recent tweets from this Account 

print("5 Recent Tweets : \n")
i =1
for tweet in posts[0:1]:
    print(str(i) +' ) ' + tweet.full_text + '\n')
    i+=1

Unexpected parameter: lang

5 Recent Tweets :

1 ) The climate crisis is already devastating communities. More funding is necessary to ensure agricultural and technological innovations are widely available to the most vulnerable, helping them adapt to climate change, save lives, and increase economic opportunity. https://t.co/KvQAM73myZ

Creating a DataFrame for Tweets

In [7]:
#creating dataframe
df = pd.DataFrame([tweet.full_text for tweet in posts], columns=['Tweets'])

#printing first 5 tweets
# df.head()
df

                                               Tweets
0   The climate crisis is already devastating comm...
1   I have never met anyone who was more passionat...
2   More than 1B people globally still suffer from...
3   This year's #BESummit2022 brought together inv...
4   Math shouldn’t be a gatekeeper, limiting a stu...
..                                                ...
95  It’s easy to forget how scary polio was in the...
96  Damaris Matoke-Muhia is changing the fight aga...
97  I cannot agree with @Dr_HamidJafari more: wome...
98  Last year, I laid out a plan for eliminating g...
99  In the past 16 years the world has made immens...

[100 rows x 1 columns]

Cleaning Text

In [8]:
#creating a function to clean tweets
def cleanTxt(text):
    text = re.sub(r'@[A-Za-z0-9]+','',text) # here we removed @ from tweets
    text = re.sub(r'#','',text)             # here we removed Hashtags from tweets
    text = re.sub(r'RT[\s]+','',text)       # here we removed ReTweets from tweets
    text = re.sub(r'https?:\/\/\S+','',text)       # here we removed Hyperlinks from tweets

    return text 

#Applying function to our Twwets

df['Tweets'] = df['Tweets'].apply(cleanTxt)

#printing Cleaned Text (Tweets)
df

                                               Tweets
0   The climate crisis is already devastating comm...
1   I have never met anyone who was more passionat...
2   More than 1B people globally still suffer from...
3   This year's BESummit2022 brought together inve...
4   Math shouldn’t be a gatekeeper, limiting a stu...
..                                                ...
95  It’s easy to forget how scary polio was in the...
96  Damaris Matoke-Muhia is changing the fight aga...
97  I cannot agree with _HamidJafari more: women v...
98  Last year, I laid out a plan for eliminating g...
99  In the past 16 years the world has made immens...

[100 rows x 1 columns]

Creating a Function to get Subjectivity and Polarity

In [9]:
#function for getting subjectivity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity 

#function for getting Polarity
def getPolarity(text):
    return TextBlob(text).sentiment.polarity


#creating two new Columns for the above 
df['Subjectivity'] = df['Tweets'].apply(getSubjectivity)
df['Polarity'] = df['Tweets'].apply(getPolarity)

#printing DataFrame with new Columns
df.head()

                                              Tweets  Subjectivity  Polarity
0  The climate crisis is already devastating comm...      0.585714  0.014286
1  I have never met anyone who was more passionat...      0.783333 -0.183333
2  More than 1B people globally still suffer from...      0.500000  0.250000
3  This year's BESummit2022 brought together inve...      0.000000  0.000000
4  Math shouldn’t be a gatekeeper, limiting a stu...      0.000000  0.000000

Plot the Word Cloud

In [11]:
#Word Cloud

allWords = ' '.join( [twts for twts in df['Tweets']] )
wordCloud  = WordCloud(width=500, height=300 , random_state=21, max_font_size=119).generate(allWords)

plt.imshow(wordCloud,interpolation="bilinear")
plt.axis('off')
plt.show()

NameError: name 'WordCloud' is not defined